@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');

body {
    /* font-family: 'Comfortaa', cursive; */
    font-family: "Chivo Mono", monospace;
}

.scroll-downs {
    position: absolute;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #656D72;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #656D72;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: #8BB604;
    border-radius: 20px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.main {
    animation: main-animate 5s infinite alternate;
    background: #8BB604;
    box-shadow: 0 0 20px #8BB604;
}

@keyframes main-animate {
    0% {
        border-radius: 67% 33% 47% 53% / 60% 51% 49% 40%;
    }

    20% {
        border-radius: 79% 21% 52% 48% / 53% 64% 36% 47%;
    }

    40% {
        border-radius: 77% 23% 75% 25% / 43% 80% 20% 57%;
    }

    60% {
        border-radius: 31% 69% 55% 45% / 45% 69% 31% 55%;
    }

    80% {
        border-radius: 26% 74% 25% 75% / 44% 29% 71% 56%;
    }

    100% {
        border-radius: 26% 74% 70% 30% / 24% 42% 58% 76%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #8BB604;
    border-radius: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in forwards;
}


.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1001;
}

.pl {
    display: block;
    width: 6.25em;
    height: 6.25em;
}

.pl__ring,
.pl__ball {
    animation: ring 2s ease-out infinite;
}

.pl__ball {
    animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

/* Animation */
@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }

    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }

    50%,
    to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}

@keyframes ball {

    from,
    50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }

    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }

    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }

    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }

    57%,
    71%,
    85%,
    99%,
    to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}